:root{
    --menu-lateral: #010812;

    --fundo-claro1: #F2EDDC;
    --fundo-claro2:#BAC3BE;

    --texto-escuro: #84847C;
    --texto-claro:#383f49;

    --texto-titulo-fundo: rgb(255, 166, 0);
} 
body{
    background: var(--fundo-claro2);
}