/* :root{
    --primary-color: #010812;
    --primary-bg-color: #84847C;
    --secundary-bg-color: #F2EDDC;
    --primary-boder-color:#BAC3BE;
    --secundary-border-color:#383F49;


    --title-color:#ffffff;
    --text-color:#796cc4;
    --link-color:#3f3d3c;
    --icon-color:#f9f9f9;

} */